counter = 0
solved_counter = 0

$.each(gon.word, function(index, value){
	if (gon.word[index] === "<%= j @alphabets %>" ) {
		counter = counter - 1
	} else {
		counter = counter + 1
	}
})

gon.watch('p1lives', function(data){
	if (data <= 0 ) {
		$("#player1-lives").html("<h2 id='text'>You Are dead</h2>")
		$("#form-container").hide()
		$.ajax({
		url: '/matches/' + "<%=  @match.id %>" + "/finished",
		type: 'post',
		dataType: 'json',
		data: {result: 'dead', player1: <%= @player_1.id %>}
	})
	} else {
		$("#player1-lives").html("<h2 id='text'>" + data + " lives left.</h2>")
	}
})

if (counter != gon.word.length ) {
	$.each(gon.word, function(index, value) {
		if (gon.word[index] === "<%= j @alphabets %>") {
			$("#container" + index).html("<%= j @alphabets %>")
			for (i = 0; i < gon.word.length; i++ ) {
				 if( $(('#container' + i)).html() != "_ " ) {
				 	solved_counter = solved_counter + 1
				 }
			}
			if (solved_counter == gon.word.length) {
				$.ajax({
					url: '/matches/' + "<%=  @match.id %>" + "/finished",
					type: 'post',
					dataType: 'json',
					data: {result: 'solved', player1: <%= @player_1.id %>}
				})
			}
		}
	})
}
